.modal-body>input{
	margin-bottom: 5px;
}

ul.nav.navbar-nav.navbar-left {
	width: 75%;
}

.align-center {
	text-align: center;
}

div.notif {
	padding-top: 20px;
	padding-bottom: 20px;
}
div.notif{
	cursor: pointer;
}
div.notification-f {
	background-color: rgba(12, 77, 162, 0.9);
	background: rgba(12, 77, 162, 0.9);
}

div.notification-p {
	background-color: rgba(244, 111, 33, 0.9);
	background: rgba(244, 111, 33, 0.9);
}

p.notify {
	font-size: 25px;
}

h3.notify{
	font-weight: bold;
	font-size: 30px;
	color: white;
}

table tr td:last-child {
    text-align: center;
}